# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore compiled assets and other temporary files.
/public/assets
/public/packs
/public/packs-test
.byebug_history

# Ignore sensitive configuration files.
/config/master.key
/config/database.yml
/config/database.yml:Zone.Identifier

# Ignore Node.js dependencies and cache directories anywhere in the project.
**/node_modules/
**/.cache/
yarn-debug.log*
.yarn-integrity
/yarn-error.log

# Node modules dan cache
node_modules/
.cache/
*.pack

# Ignore environment variables file.
.env

